html {
    font-size: 16px;
}

section#header {
  margin-top: 50px;
}

#fillup .container {
  padding:10px;
}
.collection .collection-item {
  border-bottom:0px;
}

#button-free, #button-submit {
  width: 100%
}

li {
  padding-bottom: 10px
}

ul li.collection-item{
  font-size: 21px;
  line-height: 1.6em !important;
  /*min-height: 300px;*/
}
ul#points li.collection-item {
    font-size: 16px !important;
    /* min-height: 300px; */
}
ul# li i.material-icons {
    line-height: 27.2px;
}

ul.collection.landing {
  min-height: 300px;
  background:white;
}

.collection.no-border {
  border: 0px;
}

.btn-large {
  font-size: 26px !important;
}
#image {
  height: 400px;
}

#arrow-download {
  padding-left: 120px;
padding-top: 14px;
}

/*#arrow {
  width: 50%
}*/

#download-now {
  font-size: 24px !important;
  display: inline-block;
  padding-left: 10px;
}

#img-plans {
  padding-left: 47px;
    padding-top: 134px;
}

/*#img-container {
  width: 50%;

}*/

#plan-image{
  width: 293px;
}

#arrow {
  /*width: 100px;*/
}

ul li i.material-icons {
  line-height: 35.2px;
}

.blue-text.text-accent-3 {
    font-size: 36px;
}

.modal {
  max-width: 650px;
  max-height: 100%;
}

#text-divider {
  margin-top:34px
}
@media (max-width: 520px) {
  ul li.collection-item{
    font-size: 18px;
    line-height: 1.6em !important;
    /*min-height: 300px;*/
  }
}
@media (max-width: 480px) {
  .btn-large {
    font-size: 20px !important;
  }
  ul li.collection-item{
    font-size: 13px;
    line-height: 1.6em !important;
    /*min-height: 300px;*/
  }
}
@media (max-width: 617px) {
  #button-submit {
      font-size: 20px !important;
  }

}

@media (max-width: 517px) {
  #button-submit {
      font-size: 16px !important;
  }
}
@media (max-width: 445px) {
  #button-submit {
      font-size: 13px !important;
  }
}

.main-header {
  background-color: white
  color: #fff;
  height: 300px;
  margin-bottom: 30px;
}

nav ul a {
  color: #878e94;
}

.item-banner {
  padding-top: 19px;
    padding-right: 41px;
    padding-left: 56px;
}

p.no-space {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}
